.info-wrapper {
  // display: flex;
}

.title {
  font-size: 24px;
  font-weight: 600;

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

.copy {
  cursor: pointer;
  margin-left: 12px;
}

.link {
  cursor: pointer;
  margin-left: 12px;
}

.card {
  display: flex;
  gap: 12px;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding-right: 25px;
  }
}

.Item {
  width: 100%;
  background: #f5f5f5;
  padding: 12px;
  border-radius: 12px;
}

.info-avatar {
  :global(.arco-avatar-trigger-icon-button) {
    color: rgb(var(--arcoblue-6));
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    font-size: 14px;
    box-sizing: border-box;
    border: 2px solid var(--color-white);
  }
}

.cardValue {
  font-weight: bold;
  color: #000;
}

.info-content {
  flex: 1;
  width: 0;
  // margin-left: 60px;
  padding-right: 60px;
}

.verified-tag {
  height: 20px;
  line-height: 20px;
  margin-top: -2px;
}

.edit-btn {
  margin-left: 12px;
}
